@import url('https://fonts.googleapis.com/css?family=Open+Sans');

#largeur{
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

#logo{
    text-align: center;
    margin-bottom: 30px;
    border-bottom: 1.5px solid #F7F7FA;
}
header nav{
    width: 100%;
    text-align: center;
}
header ul{
    list-style-type: none;
}

header li{
    display: inline-block;
    text-align: center;
    margin-right: 80px;
    font-family: 'Open Sans', sans-serif;
}

header nav a{
    color: black;
    text-decoration:none;
}

header nav li a:hover{
    border-top: 3px solid #BFA279;
    padding: 28px 0px;
}

@keyframes back {
    0% {
        background-image: url("/images/home-top-slideshow-01.jpg");
    }

    34% {
        background-image: url("/images/home-top-slideshow-02.jpg");
    }

    68% {
        background-image: url("/images/home-top-slideshow-03.jpg");
    }

    100% {
        background-image: url("/images/home-top-slideshow-01.jpg");
    }
}

#img_header {
    animation-name: back;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    background-size: cover;
    background-position: center;
    width: 95%;
    height: 700px;
    margin-left: auto;
    margin-right: auto;
}

#img_header p{
    padding-left: 90px;
    text-align: left;
    color: white;
    position: relative;
    top: 250px;
    font-family: "Open Sans", serif;
    font-size: 50px;
}

#container{
    width: 1280px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 65px;
    font-family: "Open Sans", sans-serif;
}

section{
    width: 70%;
    display: inline-block;
}

section img{
    width: 100%;
}

aside{
    display: inline-block;
    width:20%;
    vertical-align: top;
}

article h3 {
    display: inline-block;
    border-right: 1px solid;
    font-size: 14px;
    margin-right: 8px;
    margin-left: 8px;
    color: #7E7E7E;
}
aside{
    margin-left: 50px;
}

#about{
    width: 200px;
}

.article {
    color: #808080;
    font-size: 15px;
}

.button {
    display: inline-block;
    padding: 8px 15px;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: black;
    background-color: white;
    border: none;
    margin-top: 10px;
    margin-bottom: 50px;
    border: 1px solid black;
}